<main class="contact-container-main" id="contact">
    <h1 class="container-header outlined-text-active">Mika Griebsch</h1>
    <div class="contact-container">
        <div class="middel">
            <table>
                <tr>
                    <td>
                        <p>Bardenitzer Drofstr. 56,</p>
                        <p>14929 Treuenbrietzen</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="mailto:mika.griebsch@gmail.com">
                            <p>mika.griebsch@gmail.com</p>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="tel:+4915252873263">
                            <p>+49 1525 2873263</p>
                        </a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</main>

<style>
    .more {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .contact-container {
        display: flex;
        justify-content: center;
    }
    .middel {
        width: 100%;
        height: fit-content;
        max-width: 600px;
    }
    table td {
        vertical-align: middle;
        display: flex;
        justify-content: center;
    }
    table td p {
        margin: 0;
        padding: 0;
    }
    table td a {
        text-decoration: none;
        color: inherit;
        transition: color 0.3s ease;
    }
    table td a:hover {
        color: var(--accent);
    }
    table td a:hover p {
        color: var(--accent);
    }
    table td img {
        height: 30px;
        padding-top: 10px;
        display: inline-block;
    }
    .td-img {
        text-align: center;
        width: 50px;
    }
    .container-header {
        display: flex;
        justify-content: center;
    }
    .contact-container-main {
        opacity: 0; 
        transition: opacity 0.5s ease-out; 
        padding-top: 20%;
        padding-bottom: 10%;
    }
    .contact-container-main.visible {
        opacity: 1; 
    }
    @media (max-width: 720px) {
        .contact-container {
            display: flex;
            flex-direction: column;
        }
        .middel {
            padding-top: 50px;
            width: 100%;
        }
        table td {
            display: block; 
            text-align: center; 
        }
        table tr {
            display: table-row; 
        }
    }
</style>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        const container = document.querySelector('.contact-container-main');

        if (container) {
            const observer = new IntersectionObserver(entries => {
                entries.forEach(entry => {
                    if (entry.isIntersecting) {
                        container.classList.add('visible');
                    } else {
                        container.classList.remove('visible');
                    }
                });
            }, {
                threshold: 0.7
            });

            observer.observe(container);
        }
    });
</script>